[submodule "themes/binario"]
	path = themes/binario
	url = https://github.com/vimux/binario
[submodule "public"]
	path = public
	url = https://github.com/aintahydra/aintahydra.github.io.git
	branch = master
